<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href='add.html' th:href="@{/add}">메모 작성</a>
<div>
    <table class="table">
        <thead>목록</thead>
        <tbody>
            <tr th:each="memo : ${memos}">
                <td>
                    <a href='item.html' th:href="@{/{memoId}(memoId=${memo.id})}" th:text="${memo.title}">제목</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>